@model GeekComparer.Web.ViewModels.SmartphonesViewModel

@{
    ViewData["Title"] = "Comparison";
    var comparedCount = Model.Compared.Count;
}

<datalist id="all-smartphones">
    @foreach (var phone in Model.NotCompared)
    {
        if (phone.Manufacturer == phone.Brand)
        {
            <option value="@phone.Brand @phone.Model"></option>
        }
        else
        {
            <option value="@phone.Manufacturer @phone.Brand @phone.Model"></option>
        }
    }
</datalist>

<form method="post" asp-controller="Smartphones" asp-action="AddToComparison" style="height: 60px; padding-top: 10px; padding-bottom: 10px;">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="m-1">
            <input type="search"
                   id="smartphones-search"
                   class="form-control"
                   placeholder="Add smartphone..."
                   list="all-smartphones"
                   name="chosen"
                   autocomplete="off"/>

            @foreach (var sm in Model.Compared)
            {
                <input type="hidden" name="comparedIds" value="@sm.Id"/>
            }

            <input type="hidden" name="choosen" value="@Model"/>
        </div>

        <div class="m-1">
            <button id="submitAdd" type="submit" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </div>
</form>

<div class="table-container" onscroll="removeHash()">
<table class="compare-table" style="margin: auto">

<thead>
<th class="text-center">
    Phone
</th>

@foreach (var phone in Model.Compared)
{
    <th class="text-center">
        <form asp-controller="Smartphones" asp-action="RemoveFromComparison">
            @* TODO: replace this loop with only posting model of smartphone *@
            @foreach (var sm in Model.Compared.Where(sm => sm.Id != phone.Id))
            {
                <input type="hidden" name="remainingIds" value="@sm.Id"/>
            }

            @phone.Brand @phone.Model
            <button id="submitDelete" type="submit" class="btn btn-outline-danger btn-sm">
                <i class="bi bi-x-lg"></i>
            </button>
        </form>
    </th>
}
</thead>

<tbody class="text-center">

<tr>
    <th>Navigation</th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black">
        <a href="#GeneralSection">General</a>
        <a href="#ScreenSection">Screen</a>
        <a href="#BodySection">Body</a>
        <a href="#SocSection">Hardware</a>
        <a href="#MemorySection">Memory</a>
        <a href="#SoftwareSection">Software</a>
        <a href="#BatterySection">Battery</a>
        <a href="#ChargingSection">Charging</a>
        <a href="#SecuritySection">Security</a>
        <a href="#SoundSection">Sound</a>
        <a href="#ConnectivitySection">Connectivity</a>
        <a href="#CamerasSection">Cameras</a>
        <a href="#BenchmarkSection">Cameras</a>
        <a href="#OtherSection">Cameras</a>
    </td>
</tr>

<tr>
    <th style="border-right: none"></th>
    <td id="GeneralSection" colspan="@(comparedCount + 1)" style="border-bottom: 1px solid 
            black; ">
        General
    </td>
</tr>

@*<tr>
    <th>Id</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Id
        </td>
    }
</tr>*@

<tr>
    <th>Manufacturer</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Manufacturer
        </td>
    }
</tr>

<tr>
    <th>Brand</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Brand
        </td>
    }
</tr>

<tr>
    <th>Model</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Model
        </td>
    }
</tr>

<tr>
    <th>Announced</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.AnnounceDate
        </td>
    }
</tr>

<tr>
    <th>Released</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @smartphone.ReleaseDate
        </td>
    }
</tr>

<tr>
    <th style="border-right: none;"></th>
    <td id="ScreenSection" colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Screen
    </td>
</tr>

<tr>
    <th>Panel</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Screen.Panel.Name
        </td>
    }
</tr>

<tr>
    <th>Size</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Screen.Size"
        </td>
    }
</tr>

<tr>
    <th>Resolution</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @($"{smartphone.Screen.WidthInPixels}×{smartphone.Screen.HeightInPixels} ({smartphone.Screen.AspectRatio,3:F2})")
        </td>
    }
</tr>

<tr>
    <th>Refresh ratio</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Screen.MinRefreshRatio == smartphone.Screen.MaxRefreshRatio
                || smartphone.Screen.MinRefreshRatio == 0)
            {
                @smartphone.Screen.MaxRefreshRatio
            }
            else
            {
                @($"Min:{smartphone.Screen.MinRefreshRatio} Max:{smartphone.Screen.MaxRefreshRatio}")
            }

        </td>
    }
</tr>

<tr>
    <th>Max brightness</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Screen.MaxBrightness nits
        </td>
    }
</tr>

<tr>
    <th>HDR</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Screen.HDRSupport)
            {
                @($"{smartphone.Screen.HDRFormat}, {@smartphone.Screen.HDRBrightness} nits")
            }
        </td>
    }
</tr>

<tr>
    <th>DC Dimming</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @smartphone.Screen.HasDCDimming
        </td>
    }
</tr>

<tr>
    <th style="border-right: none;"></th>
    <td id="BodySection" colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Body
    </td>
</tr>

<tr>
    <th>Height</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.Height mm
        </td>
    }
</tr>

<tr>
    <th>Width</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.Width mm
        </td>
    }
</tr>

<tr>
    <th>Thickness</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.Thickness mm
        </td>
    }
</tr>

<tr>
    <th>Weight</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.Weight g
        </td>
    }
</tr>

<tr>
    <th>IP Rating</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.IPRating
        </td>
    }
</tr>

<tr>
    <th>Screen protection</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.ScreenProtection
        </td>
    }
</tr>

<tr>
    <th>Back Material</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.BackMaterial
        </td>
    }
</tr>

<tr>
    <th>Frame Material</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.FrameMaterial
        </td>
    }
</tr>

<tr>
    <th>Fingerprint sensor</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Body.FingerprintLocation.Name
        </td>
    }
</tr>

<tr>
    <th>Colors</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @smartphone.Body.Color
        </td>
    }
</tr>

<tr id="SocSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        SoC
    </td>
</tr>

<tr>
    <th>Model</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.SoC.Manufacturer @smartphone.SoC.Model
        </td>
    }
</tr>

<tr>
    <th>Litography</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.SoC.Litography nm
        </td>
    }
</tr>

<tr>
    <th>Launch Date</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.SoC.LaunchDate
        </td>
    }
</tr>

<tr>
    <th class="inline-table-parent" style="height: 5px;">
        <table class="inline-table">
            <tr>
                <th rowspan="2" style="height: 100%">
                    CPU
                </th>
                <th style="height: 100%; width: 60%;">
                    <a>
                        Cores
                    </a>
                </th>
            </tr>
            <tr>
                <th style="height: 100%">TDP</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr style="height: 100%">
                    @{
                        var groupedCores = smartphone.SoC.CPU.Cores.GroupBy(c => new
                        {
                            c.Microarchitecture,
                            c.Clock,
                        }).OrderByDescending(t => t.Key.Clock);
                    }

                    <td>
                        @foreach (var group in groupedCores)
                        {
                            <div>
                                @($"{group.Count()}x{group.Key.Microarchitecture}@{group.First().Clock} MHz")
                            </div>
                        }
                    </td>
                </tr>
                <tr style="height: 100%;">
                    <td>
                        @smartphone.SoC.CPU.TDP
                    </td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th class="inline-table-parent" style="height: 5px;">
        <table class="inline-table">
            <tr style="height: 100%;">
                <th rowspan="2">
                    GPU
                </th>
                <th style="height: 100%; width: 60%">
                    <a>
                        Model
                    </a>
                </th>
            </tr>
            <tr style="height: 100%">
                <th>Clock</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent" style="border-bottom: 1px solid black;">
            <table class="inline-table">
                <tr>
                    <td>@smartphone.SoC.GPU.Model</td>
                </tr>
                <tr>
                    <td>@smartphone.SoC.GPU.MaxClock</td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr id="MemorySection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Memory
    </td>
</tr>

<tr>
    <th class="inline-table-parent" style="height: 5px;">
        <table class="inline-table">
            <tr style="height: 100%;">
                <th rowspan="4">
                    RAM
                </th>
                <th style="height: 100%; width: 60%">
                    <a>
                        Type
                    </a>
                </th>
            </tr>
            <tr style="height: 100%">
                <th>Size</th>
            </tr>
            <tr style="height: 100%">
                <th>Clock</th>
            </tr>
            <tr style="height: 100%">
                <th>Channels</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>
                        @smartphone.Memory.RAM.Type
                    </td>
                </tr>
                <tr>
                    <td>
                        @smartphone.Memory.RAM.Size
                    </td>
                </tr>
                <tr>
                    <td>
                        @smartphone.Memory.RAM.Clock
                    </td>
                </tr>
                <tr>
                    <td>
                        @smartphone.Memory.RAM.Channels
                    </td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th class="inline-table-parent" style="height: 5px;">
        <table class="inline-table">
            <tr style="height: 100%;">
                <th rowspan="2">
                    Flash
                </th>
                <th style="height: 100%; width: 60%">
                    <a>
                        Type
                    </a>
                </th>
            </tr>
            <tr style="height: 100%">
                <th>Size</th>
            </tr>

        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>
                        @smartphone.Memory.Storage.Type @smartphone.Memory.Storage.StorageVersion
                    </td>
                </tr>
                <tr>
                    <td>
                        @smartphone.Memory.Storage.Size
                    </td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th>Memory Card</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black;">
            @if (smartphone.Memory.MemoryCardSupported)
            {
                @("Supported")
            }
            else
            {
                @("Not supported")
            }
        </td>
    }
</tr>

<tr id="SoftwareSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Software
    </td>
</tr>

<tr>
    <th>OS</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Software.OperatingSystem @smartphone.Software.OperatingSystemVersion
        </td>
    }
</tr>

<tr>
    <th>ROM</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @if (smartphone.Software.OperatingSystem == GeekComparer.Domain.OperatingSystem.iOS)
            {
                @("-")
            }
            else
            {
                @smartphone.Software.Distribution
                @smartphone.Software.DistributionVersion
            }
        </td>
    }
</tr>

<tr id="BatterySection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Battery
    </td>
</tr>

<tr>
    <th>Capacity</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Battery.Capacity
        </td>
    }
</tr>

<tr>
    <th>Type</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Battery.Type
        </td>
    }
</tr>

<tr>
    <th>Replaceable</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Battery.Replaceable)
            {
                @("Yes")
            }
            else
            {
                @("No")
            }
        </td>
    }
</tr>

<tr>
    <th class="inline-table-parent">
        <table class="inline-table">
            <tr>
                <th rowspan="5">Life</th>
            </tr>
            <tr>
                <th>Browsing</th>
            </tr>
            <tr>
                <th>Video</th>
            </tr>
            <tr>
                <th>Gaming</th>
            </tr>
            <tr>
                <th>Standby</th>
            </tr>

        </table>
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent" style="border-bottom: 1px solid black">
            <table class="inline-table">
                <tr>
                    <td>@($"{smartphone.Battery.Life.WebBrowsing.Value.Hours}h {smartphone.Battery.Life.WebBrowsing.Value.Minutes}m")</td>
                </tr>
                <tr>
                    <td>@($"{smartphone.Battery.Life.Video.Value.Hours}h {smartphone.Battery.Life.Video.Value.Minutes}m")</td>
                </tr>
                <tr>
                    <td>@($"{smartphone.Battery.Life.Gaming.Value.Hours}h {smartphone.Battery.Life.Gaming.Value.Minutes}m")</td>
                </tr>
                <tr>
                    <td>@($"{smartphone.Battery.Life.Standby.Value.Hours}h {smartphone.Battery.Life.Standby.Value.Minutes}m")</td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr id="ChargingSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Charging
    </td>
</tr>

<tr>
    <th>Wired power</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Charging.WiredChargePower W
        </td>
    }
</tr>

<tr>
    <th>Half charging</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Charging.HalfChargingTime.Minutes min
        </td>
    }
</tr>

<tr>
    <th>Full charging</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Charging.FullChargingTime.Minutes min
        </td>
    }
</tr>

<tr>
    <th>Wireless</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Charging.WirelessChargingSupported)
            {
                @("Supported")
            }
            else
            {
                @("Not supported")
            }
        </td>
    }
</tr>

<tr>
    <th>Wireless power</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Charging.WirelessChargingSupported)
            {
                @smartphone.Charging.WirelessChargePower
            }
            else
            {
                @("-")
            }
        </td>
    }
</tr>

<tr>
    <th>Reverse</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Charging.ReverseChargingSupported)
            {
                @("Supported")
            }
            else
            {
                @("Not supported")
            }
        </td>
    }
</tr>

<tr>
    <th>Reverse power</th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @if (smartphone.Charging.ReverseChargingSupported)
            {
                @smartphone.Charging.ReverseChargePower
            }
            else
            {
                @("-")
            }
        </td>
    }
</tr>

<tr id="SecuritySection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Security
    </td>
</tr>

<tr>
    <th>
        Coprocessor
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Security.HasCoprocessor)
            {
                @("Present")
            }
            else
            {
                @("Not present")
            }
        </td>
    }
</tr>

<tr>
    <th>
        Scaners
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @(smartphone.Security.HasFaceUnlock ? "Face" : "") <br/>
            @(smartphone.Security.HasFingerprintUnlock ? "Fingerprint" : "") <br/>
            @(smartphone.Security.HasIrisUnlock ? "Iris" : "")
        </td>
    }
</tr>

<tr id="SoundSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Sound
    </td>
</tr>

<tr>
    <th>
        Speaker type
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Sound.SpeakerType
        </td>
    }
</tr>

<tr>
    <th>
        Codecs
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @foreach (var codec in smartphone.Sound.Codecs)
            {
                <p style="margin-bottom: 0">@codec</p>
            }
        </td>
    }
</tr>

<tr>
    <th>
        Jack
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Sound.HasHeadphoneJack
        </td>
    }
</tr>

<tr>
    <th>
        FM Radio
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @smartphone.Sound.HasFmRadio
        </td>
    }
</tr>

<tr id="ConnectivitySection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Connectivity
    </td>
</tr>

<tr>
    <th>
        Bluetooth
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @smartphone.Connectivity.Bluetooth.Version
        </td>
    }
</tr>

<tr>
    <th class="inline-table-parent" style="height: 5px">
        <table class="inline-table">
            <tr>
                <th rowspan="3">USB</th>
                <th style="width: 60%">Connector</th>
            </tr>
            <tr>
                <th>Version</th>
            </tr>
            <tr style="height: 100%">
                <th>Features</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>@smartphone.Connectivity.USB.Connector</td>
                </tr>
                <tr>
                    <td>@smartphone.Connectivity.USB.Version</td>
                </tr>
                <tr style="height: 100%">
                    <td>
                        @foreach (var x in smartphone.Connectivity.USB.Features)
                        {
                            <p style="margin-bottom: 0">@x</p>
                        }
                    </td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th>
        GNSS
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @foreach (var system in smartphone.Connectivity.NavigationSystems)
            {
                <p style="margin-bottom: 0">@system</p>
            }
        </td>
    }
</tr>

<tr>
    <th>
        WiFi
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @("WiFi " + smartphone.Connectivity.WiFi.Standards.Max(w => w.Id) + " (" + string.Join(", ", smartphone.Connectivity.WiFi.Standards) + ")")
        </td>
    }
</tr>

<tr>
    <th class="inline-table-parent">
        <table class="inline-table">
            <tr>
                <th rowspan="7">Cellular</th>
                <th style="width: 60%">Sim count</th>
            </tr>
            <tr>
                <th>Sim type</th>
            </tr>
            <tr>
                <th>Multisim</th>
            </tr>
            <tr>
                <th>2G bands</th>
            </tr>
            <tr>
                <th>3G bands</th>
            </tr>
            <tr>
                <th>4G bands</th>
            </tr>
            <tr>
                <th>5G bands</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>@smartphone.Connectivity.Cellular.SimCount</td>
                </tr>
                <tr>
                    <td>@(string.Join(", ", smartphone.Connectivity.Cellular.SimType))</td>
                </tr>
                <tr>
                    <td>@smartphone.Connectivity.Cellular.MultiSimMode</td>
                </tr>
                <tr>
                    <td>@(string.Join(", ", smartphone.Connectivity.Cellular.Bands2G))</td>
                </tr>
                <tr>
                    <td>@(string.Join(", ", smartphone.Connectivity.Cellular.Bands3G.Select(b => b.Id)))</td>
                </tr>
                <tr>
                    <td>@(string.Join(", ", smartphone.Connectivity.Cellular.Bands4G.Select(b => b.Id)))</td>
                </tr>
                <tr>
                    <td>@(string.Join(", ", smartphone.Connectivity.Cellular.Bands5G.Select(b => b.Id)))</td>
                </tr>

            </table>
        </td>
    }
</tr>

<tr>
    <th>
        NFC
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (@smartphone.Connectivity.HasNFC)
            {
                @("Supported")
            }
            else
            {
                @("-")
            }
        </td>
    }
</tr>

<tr>
    <th>
        IR
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @if (smartphone.Connectivity.HasIR)
            {
                @("Supported")
            }
            else
            {
                @("-")
            }
        </td>
    }
</tr>

<tr>
    <th>
        UWB
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @if (@smartphone.Connectivity.HasUWB)
            {
                @("Supported")
            }
            else
            {
                @("-")
            }
        </td>
    }
</tr>

<tr id="CamerasSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Cameras
    </td>
</tr>

@{
    var maxCamerasCount = Model.Compared.Max(s => s.Cameras.Count);
}

@for (var i = 0; i < maxCamerasCount; i++)
{
    <tr>
        <th style="border-right: none;"></th>
        <td colspan="@(comparedCount + 1)">
            Camera @(i + 1)
        </td>
    </tr>

    <tr>
        <th class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <th>Matrix</th>
                </tr>
                <tr>
                    <th>Aperture</th>
                </tr>
                <tr>
                    <th>Autofocus</th>
                </tr>
                <tr>
                    <th>Manufacturer</th>
                </tr>
                <tr>
                    <th>Model</th>
                </tr>
                <tr>
                    <th>Format</th>
                </tr>
                <tr>
                    <th>Stabilization</th>
                </tr>
                <tr>
                    <th>Focal length</th>
                </tr>
                <tr>
                    <th>Lens Type</th>
                </tr>
                <tr>
                    <th>Image specs</th>
                </tr>
                <tr>
                    <th>Pixel Size</th>
                </tr>
                <tr>
                    <th>Video Modes</th>
                </tr>
                <tr>
                    <th>Digital Zoom</th>
                </tr>
                <tr>
                    <th>Optical Zoom</th>
                </tr>
            </table>
        </th>

        @foreach (var smartphone in Model.Compared)
        {
            @if (smartphone.Cameras.Count < i + 1)
            {
                if (i == maxCamerasCount - 1)
                {
                    <td style="border-bottom: 1px solid black"></td>
                }
                else
                {
                    <td></td>
                }
                continue;
            }

            <td class="inline-table-parent">

                <table class="inline-table">
                    <tr>
                        <td>@smartphone.Cameras[i].Matrix MP</td>
                    </tr>
                    <tr>
                        <td>f/@smartphone.Cameras[i].Aperture</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].Autofocus</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].Sensor.Manufacturer</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].Sensor.Model</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].Sensor.Format (TODO)</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].Stabilization</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].FocalLength mm</td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].LensType</td>
                    </tr>
                    <tr>
                        <td>
                            @($"{smartphone.Cameras[i].PhotoCapabilities.MaxHeight}"
                                + $"x{smartphone.Cameras[i].PhotoCapabilities.MaxWidth} "
                                + $"({smartphone.Cameras[i].PhotoCapabilities.MaxWidth * smartphone.Cameras[i].PhotoCapabilities.MaxHeight / Math.Pow(10, 6)} MP)")
                        </td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].PixelSize</td>
                    </tr>
                    <tr>
                        <td>
                            @(string.Join(", ", smartphone.Cameras[i].VideoCapabilities.Modes.Select(m => m.Resolution + "@" + m.FrameRate)))
                        </td>
                    </tr>
                    <tr>
                        <td>@smartphone.Cameras[i].DigitalZoomValue</td>
                    </tr>
                    <tr>
                        @if (smartphone.Cameras[i].HasOpticalZoom)
                        {
                            if (i == maxCamerasCount - 1)
                            {
                                <td style="border-bottom: 1px solid black">@smartphone.Cameras[i].OpticalZoomValue</td>
                            }
                            else
                            {
                                <td>@smartphone.Cameras[i].OpticalZoomValue</td>
                            }
                        }
                        else
                        {
                            if (i == maxCamerasCount - 1)
                            {
                                <td style="border-bottom: 1px solid black"></td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                </table>
            </td>
        }
    </tr>
}

<tr id="BenchmarkSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Benchmarks
    </td>
</tr>

<tr>
    <th style="border-right: none;"></th>
    <td colspan="@comparedCount">
        Antutu
    </td>
</tr>

<tr>
    <th class="inline-table-parent">
        <table class="inline-table">
            <tr>
                <th>CPU</th>
            </tr>
            <tr>
                <th>GPU</th>
            </tr>
            <tr>
                <th>MEM</th>
            </tr>
            <tr>
                <th>UX</th>
            </tr>
            <tr>
                <th>Total</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>@smartphone.Benchmark.Antutu.CPU</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.Antutu.GPU</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.Antutu.MEM</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.Antutu.UX</td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px dotted black">@smartphone.Benchmark.Antutu.Total</td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th style="border-right: none;"></th>
    <td colspan="@comparedCount">
        Geekbench5
    </td>
</tr>

<tr>
    <th class="inline-table-parent">
        <table class="inline-table">
            <tr>
                <th>Single core</th>
            </tr>
            <tr>
                <th>Multi core</th>
            </tr>
            <tr>
                <th>OpenCL</th>
            </tr>
            <tr>
                <th>Vulcan</th>
            </tr>
            <tr>
                <th>Metal</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>@smartphone.Benchmark.Geekbench5.SingleCore</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.Geekbench5.MultiCore</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.Geekbench5.OpenCL</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.Geekbench5.Vulkan</td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px dotted black">@smartphone.Benchmark.Geekbench5.Metal</td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th style="border-right: none;"></th>
    <td colspan="@comparedCount">
        DxOMark
    </td>
</tr>

<tr>
    <th class="inline-table-parent">
        <table class="inline-table">
            <tr>
                <th>Photo</th>
            </tr>
            <tr>
                <th>Video</th>
            </tr>
            <tr>
                <th>Zoom</th>
            </tr>
            <tr>
                <th>Preview</th>
            </tr>
            <tr>
                <th>Bokeh</th>
            </tr>
        </table>
    </th>

    @foreach (var smartphone in Model.Compared)
    {
        <td class="inline-table-parent">
            <table class="inline-table">
                <tr>
                    <td>@smartphone.Benchmark.DxOMark.Photo</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.DxOMark.Video</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.DxOMark.Zoom</td>
                </tr>
                <tr>
                    <td>@smartphone.Benchmark.DxOMark.Preview</td>
                </tr>
                <tr>
                    <td style="border-bottom: 1px dotted black">@smartphone.Benchmark.DxOMark.Bokeh</td>
                </tr>
            </table>
        </td>
    }
</tr>

<tr>
    <th style="border-right: none;"></th>
    <td colspan="@comparedCount">
        3D Mark
    </td>
</tr>

<tr>
    <th>
        Wild Life
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td style="border-bottom: 1px solid black">
            @smartphone.Benchmark.ThreeDMark.Performance
        </td>
    }
</tr>

<tr id="OtherSection">
    <th style="border-right: none;"></th>
    <td colspan="@(comparedCount + 1)" style="border-bottom: 1px solid black;">
        Other
    </td>
</tr>

<tr>
    <th>
        Sensors
    </th>
    @foreach (var smartphone in Model.Compared)
    {
        <td>
            @foreach (var sensor in smartphone.Sensors.OrderBy(s => s.Name))
            {
                <p style="margin-bottom: 0">@sensor</p>
            }
        </td>
    }
</tr>


</tbody>
</table>
</div>

<style>

tr:hover {
    background-color: aliceblue;
}

table.inline-table {
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

table.compare-table {
	white-space: nowrap;
	overflow-y: scroll;
	scroll-behavior: smooth;
	border-collapse: separate;
	border-spacing: 0;
}

div.table-container {
    height: 90vh;
    overflow-x: scroll;
    padding-bottom: 10px;
    scrollbar-width: auto;
    scrollbar-color: lightgray lightgray;
}

td.inline-table-parent, th.inline-table-parent {
    padding: 0; 
    border: none;
}
    
thead th:first-child {
    left: 0;
    z-index: 2;
    border-bottom: 1px solid black;
}

thead th:last-child {
    border-right: none;
}

thead th {
    position: sticky;
    top: 0;
    background: #FFF;
    z-index: 1;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
    
tbody th {
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

tbody td {
    border-bottom: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
}
    
td, th {
    padding: 0.4em;
}

/*Chrome specific scrollbar settings*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.4); 
}

</style>

@* script from SO to remove fragment from url *@
<script>
    function removeHash () {
        history.pushState("", document.title, window.location.pathname
                                                           + window.location.search);
    }
</script>