@model SmartphoneViewModel

@{
    ViewData["Title"] = "TEST";
}

<form method="post" asp-controller="Smartphone" asp-action="AddToComparison" style="height: 60px; padding-top: 10px; padding-bottom: 10px;">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="m-1">
            <input type="text"
                   id="smartphones-search"
                   class="form-control"
                   placeholder="Add another..."
                   list="all-smartphones"
                   name="SmartphoneChoice"
                   maxlength="20"/>

            @foreach (var sm in Model.Comparison)
            {
                <input type="hidden" name="comparisonIds" value="@sm.Id"/>
            }
        </div>

        <div class="m-1">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </div>
</form>

<datalist id="all-smartphones">
    @foreach (var phone in Model.Smartphones)
    {
        <option value="@phone.Brand @phone.Model"></option>
    }
</datalist>

<div class="tablecontainer">
    <table style="margin: auto">
        <thead>
        <th class="text-center">
            Phone
        </th>
        @foreach (var phone in Model.Comparison)
        {
            <th>

                <form method="post" asp-controller="Smartphone" asp-action="DeleteFromComparison">

                    <input type="hidden" value="@phone.Id" name="idToDelete"/>
                    @foreach (var sm in Model.Comparison)
                    {
                        <input type="hidden" name="comparisonIds" value="@sm.Id"/>
                    }

                    @phone.Brand @phone.Model
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-x-lg"></i>
                    </button>

                </form>

            </th>
        }
        </thead>

        <tbody>
        <tr class="text-center">
            <th>
                Id
            </th>
            @foreach (var smartphone in Model.Comparison)
            {
                <td>
                    @smartphone.Id
                </td>
            }
        </tr>

        <tr class="text-center">
            <th>
                Brand
            </th>
            @foreach (var smartphone in Model.Comparison)
            {
                <td>
                    @smartphone.Brand
                </td>
            }
        </tr>

        <tr class="text-center">
            <th>
                Model
            </th>
            @foreach (var smartphone in Model.Comparison)
            {
                <td>
                    @smartphone.Model
                </td>
            }
        </tr>

        <tr class="text-center">
            <th>
                Released
            </th>
            @foreach (var smartphone in Model.Comparison)
            {
                <td>
                    @smartphone.ReleaseDate
                </td>
            }
        </tr>

        @for (var i = 0; i < 40; i++)
        {
            <tr class="text-center">
                <th>
                    Head
                </th>

                @for (var j = 0; j < Model.Comparison.Count; j++)
                {
                    <td>
                        @Model.Comparison[j].ReleaseDate
                    </td>
                }
            </tr>
        }

        </tbody>
    </table>
</div>

<style>
table {
	white-space: nowrap;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

div.tablecontainer {
    height: 90vh;
    overflow-x: scroll;
    padding-bottom: 10px;
}
    
thead th {
    position: sticky;
    top: 0;
}
    
tbody th {
    position: sticky;
    left: 0;
}
    
thead th:first-child {
    left: 0;
    z-index: 2;
}

thead th {
    background: #FFF;
    color: #000;
    z-index: 1;
    box-shadow: 1px 1px 0 0 #ccc;
}
    
tbody th {
    background: #FFF;
    border-right: 1px solid #CCC;
      /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
    box-shadow: 1px 1px 0 0 #ccc;
}
    
td, th {
    padding: 0.5em;
}

</style>